body {
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
}

.container {
  max-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-size: contain;
}

svg {
  /*transform: scale(0.8);*/
}
.radar {
  width: 100%;
}

.signal {
  opacity: 0.1;
  transform-origin: center;
  transition-duration: 1s;
}

.text {
  text-transform: uppercase;
  text-anchor: middle;
  /*font-size: 5px;*/
}

.info {
  text-align: center;
  height: 30%;
  width: 100%;
}
